{# empty Twig template #}
{% extends 'RandomHelloBundle::layout.html.twig' %}

{% block content %}
    {{ dump(obj) }}
    Numero: {{ number }}!

    <ul>
        <li>Padre</li>
        <ul>
            <li>figlio</li>
        </ul>
    </ul>

{% endblock %}